
{% extends "homeshare/feed_layout.html" %}
{% load static %}
{% block body %}


<div class="profile_product_container">

    <div class="profile_product_card">
        <div class="profile_product_title">
            <div class="product_user_profile">

                <img src="{{current_listing.image_url.url}}"
                     alt="Generic placeholder image" class="profile-picture">
                <div class="stats mt-2">
                    <div class="d-flex justify-content-between p-price">
                        <span><strong></strong></span><span>
                         <a href="{% url 'follow_property' current_listing.id %}"><label class="bttn bttn-primary" data-name="Delist" data-id="{{ listing.id }}" data-status="{{ listing.active }}" for="follow">
                                           Follow
                                    </label></a></span>


                    </span></div>
                    <div class="d-flex justify-content-between p-price"><span><strong>{{current_listing.address_1}}</strong></span><span></span>
                    </div>
                    <div class="d-flex justify-content-between p-price"><span><strong>{{current_listing.address_2}}</strong></span><span></span>
                    </div>
                    <div class="d-flex justify-content-between p-price"><span><strong>{{current_listing.city}}</strong></span><span></span>
                    </div>
                    <div class="d-flex justify-content-between p-price"><span> </span><span><a>
                        <label id="booking" class="bttn bttn-primary" for="booking">Request Booking
                        {{get_user.username}}</label></a></span>

                </div>
            </div>

            <div id="property_compose-view">

                <form id="compose-form">
                    <p>When would you like to book?</p>
                    <div class="form-group">
                        <input disabled class="hidden" id="sender_one" value="{{ request.user.email }}">
                    </div>
                    <div class="form-group">
                        <input disabled id="compose-recipients" class="hidden" value="{{ get_user.email }}">
                    </div>
                    <div class="form-group">
                        from:
                        <input type="date" class="form-control" id="compose-subject" placeholder="Subject">
                    </div>

                    <br>
                    to:
                    <input type="date" class="form-control" id="compose-body" placeholder="Subject">
                    <br>
                    <input id="book" type="submit" class="bttn bttn-primary"/>
                </form>
            </div>

                    <span></span>
                    </div>

                </div>
            </div>

        </div>
        <div class="card-body p-4 text-black">
            <div class="mb-5">
                <p class="lead fw-normal mb-1">About</p>
                <div class="p-4" style="background-color: #f8f9fa;">

                    <p class="font-italic mb-0">{{current_listing.description}}</p>
                    <br>
                    <h4>Amenities</h4>
                    <div class="d-flex justify-content-between p-price">
                        <span>{% if current_listing.pool %} pool {%endif %}</span>
                        <span>{% if current_listing.free_parking %} free parking {%endif %}</span>
                        <span>{% if current_listing.wifi %} wifi {%endif %}</span>
                    </div>
                    <div class="d-flex justify-content-between p-price">
                        <span>{% if current_listing.jacuzzi %} jacuzzi {%endif %}</span>
                        <span>{% if current_listing.washer %} washer {%endif %}</span>
                        <span>{% if current_listing.air_conditioning %} air conditioning {%endif %}</span>
                    </div>
                    <div class="d-flex justify-content-between p-price">
                        <span>{% if current_listing.self_check_in %} self check in {%endif %}</span>
                        <span>{% if current_listing.workspace %} workspace {%endif %}</span>
                        <span>{% if current_listing.pets_allowed %} pets allowed {%endif %}</span>
                    </div>
                    <div class="d-flex justify-content-between p-price">
                        <span>{% if current_listing.smoke_alarm %} smoke alarm {%endif %}</span>
                        <span>{% if current_listing.carbon_monoxide_alarm %} carbon monoxide alarm {%endif %}</span>
                        <span>{% if current_listing.fire_extinguisher %} fire extinguisher {%endif %}</span>
                    </div>
                    <div class="d-flex justify-content-between p-price">
                        <span>{% if current_listing.first_aid_kit %} first aid kit {%endif %}</span>
                        <span>{% if current_listing.crib_and_high_chair %} crib and high chair {%endif %}</span>
                        <span>{% if current_listing.bathtub %} bathtub {%endif %}</span>
                    </div>
                     <div class="d-flex justify-content-between p-price">
                        <span>{% if current_listing.wine_glasses %} wine glasses {%endif %}</span>
                        <span>{% if current_listing.coffee_maker %} coffee maker {%endif %}</span>

                    </div>

                    <div class="d-flex justify-content-end text-center py-1">

                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0">Recent photos</p>

            </div>
            <div class="row g-2">
                <div class="col mb-2">
                    <img src="{{current_listing.image_url_2.url}}"
                         alt="image 1" class="w-100 rounded-3">
                </div>
                <div class="col mb-2">
                    <img src="{{current_listing.image_url_3.url}}"
                         alt="image 1" class="w-100 rounded-3">
                </div>
            </div>
            <div class="row g-2">
                <div class="col">
                    <img src="{{current_listing.image_url_4.url}}"
                         alt="image 1" class="w-100 rounded-3">
                </div>

            </div>
        </div>
    </div>

<script type="text/javascript" src="{% static 'homeshare/javascript/prop_profile.js' %}"></script>
</div>


{% endblock %}